body {
    background: #cb997e;
}


h1,
h2,
h5,
p,
div 
nav 
label {
    font-family: 'Montserrat', sans-serif;
}

h5{
    font-weight: bold;
}

.jumbotron {
    max-width: auto;
    max-height: auto;
}

.img-port {
    max-height: 200px;
}

.card-deck {
    background-color:#cb997e;
}

.card {
    background-color: #a5a58d;
}

.btn {
    background-color: #774936;
    border: #774936;
}

nav {
    background-color: #163A38;
}

a{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.dropdown-menu {
    background-color: #b7b7a4;
    color: white
}
